In [1]:
import random

below random shows any one from given choices

In [7]:
random.choice([1,2,3])

2

In [17]:
username="raghu"
print(username[0])
username[1]

r

'a'

In [18]:
username[0]="A" #TypeError: 'str' object does not support item assignment   -- string are immutable
print(username[0])

TypeError: 'str' object does not support item assignment

In [19]:
username[-1]

'u'

In [25]:
print(username[0:1])
print(username[:3])
print(username[:5])

r
rag
raghu

In [27]:
dir(username)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [30]:
dir(UserWarning)

['__cause__',
 '__class__',
 '__context__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__suppress_context__',
 '__traceback__',
 'add_note',
 'args',
 'with_traceback']

In [ ]:
#help from pyrhon user dir methods

below only last line is automatically printed all before must have print or else it is printing last only

In [34]:
my_list=[123,"chai",3.14]
print(len(my_list))
print(my_list[0])
my_list[-1]

3
123

3.14

print in case sensitive Print will not work

In [36]:
Print(my_list[0]) #NameError: name 'Print' is not defined

NameError: name 'Print' is not defined

In [55]:
my_dict=dict(name="raghu")
print(my_dict)
type(my_dict)
len(my_dict)

{'name': 'raghu'}

1

In [50]:
diction={"one":"fruit","two":"lemon","three":"king"}
print(diction['one'])

print(diction['fruit'])  #key error

fruit

KeyError: 'fruit'

In [54]:
mytuples=(1,2,3)
print(mytuples[0])
len(mytuples)

1

3

python will treat numbers and strings differently than others

suppose first we assign id =5, the reference of id 5 is stored in memory, once id is deleted the refernce 5 will be deleted by python garbage collector

In [56]:
import sys

In [57]:
sys.getrefcount(24601)

3

In [58]:
sys.getrefcount('raghu')

4294967295

In [59]:
sys.getrefcount('M')

4294967295

above both reference count will be zero

In [60]:
sys.getrefcount(3)

4294967295

In [1]:
a=3
print(a)

3

In [2]:
a="chai"
print(a)

chai

we may thinks that garbage collector will collect 3 immedeately but no it will not collect immedieately, it will give some time so that we may use reference anytime anywhere in future for numbers and strings for saving computation power. so for only numbers and strings this will take some time to remove

In [3]:
a=5
b=2
a = a + 2
print(a)

7

now in above the value of a is changed/references to 7 from 5

In [19]:
mylistone = [1,2,3]
mylisttwo = mylistone
print(mylistone)
print(mylisttwo)
print("--------mylistone = 'chai'-------------------")
mylistone = 'chai'
print(mylistone)
print(mylisttwo)
print("new------------mylistone = [1,2,3]---------------")
mylistone = [1,2,3,4]
print(mylistone)
print(mylisttwo)
print("new--------------mylistone[0]=33-------------")
mylistone[0]=33
print(mylistone)
print(mylisttwo)

[1, 2, 3]
[1, 2, 3]
--------mylistone = 'chai'-------------------
chai
[1, 2, 3]
new------------mylistone = [1,2,3]---------------
[1, 2, 3, 4]
[1, 2, 3]
new--------------mylistone[0]=33-------------
[33, 2, 3, 4]
[1, 2, 3]

In [34]:
l1=[1,2,3]
l2=l1
print(l1)
print(l2)
print("------------------------------------------------------------")
l1[0]=44
print(l1)
print(l2)
print("Memory reference of h11:", id(l1))
print("Memory reference of h12:", id(l2))
print("------------------------------------------------------------")

[1, 2, 3]
[1, 2, 3]
------------------------------------------------------------
[44, 2, 3]
[44, 2, 3]
Memory reference of h11: 1872619531200
Memory reference of h12: 1872619531200
------------------------------------------------------------

in slicing we copy does not reference

In [27]:
h1=[1,2,3]
h2slice=h1[:]
print("--------------------------------")
print(h1)
print(h2slice)
print("--------------------------------")
h1[0]=55
print(h1)
print(h2slice)

--------------------------------
[1, 2, 3]
[1, 2, 3]
--------------------------------
[55, 2, 3]
[1, 2, 3]

instead using copy command we can use above substring, below copy and substring both create shallow copy

In [31]:
h11=[1,2,3]
import copy
h12 = copy.copy(h11)
print(h11)
print(h12)

[1, 2, 3]
[1, 2, 3]
Memory reference of h11: 1872619404352
Memory reference of h12: 1872619246592

In [33]:
print("Memory reference of h11:", id(h11))
print("Memory reference of h12:", id(h12))
print("Memory reference of h11:", id(h1))
print("Memory reference of h12:", id(h2slice))

Memory reference of h11: 1872619404352
Memory reference of h12: 1872619246592
Memory reference of h11: 1872619191168
Memory reference of h12: 1872619183936

shallow copy will copy only top level list, nested lists are reference of original, changing nested list will also change in shallowcopy


deepcopy will copy the nested elements also will not effect if value change sin nested also, it will create new objects in memory

In [50]:
maincopy=[1,[1,2,[1,2,3,"c"],'b'],"a"]
shallowcopy= copy.copy(maincopy)
deepcopy=copy.deepcopy(maincopy)
print(maincopy)
print(shallowcopy)
print(deepcopy)
print("Memory reference of maincopy:", id(maincopy))
print("Memory reference of shallowcopy:", id(shallowcopy))
print("Memory reference of deepcopy:", id(deepcopy))
maincopy[1][2][3] = 4
print(maincopy)
print(shallowcopy)
print(deepcopy)

[1, [1, 2, [1, 2, 3, 'c'], 'b'], 'a']
[1, [1, 2, [1, 2, 3, 'c'], 'b'], 'a']
[1, [1, 2, [1, 2, 3, 'c'], 'b'], 'a']
Memory reference of maincopy: 1872619693440
Memory reference of shallowcopy: 1872618949760
Memory reference of deepcopy: 1872620291136
[1, [1, 2, [1, 2, 3, 4], 'b'], 'a']
[1, [1, 2, [1, 2, 3, 4], 'b'], 'a']
[1, [1, 2, [1, 2, 3, 'c'], 'b'], 'a']

is will check memeory reference

In [49]:
m = [1,2,3]
n= m
print(m == n)
print(m is n)
print("Memory reference of deepcopy:", id(m))
print("Memory reference of deepcopy:", id(n))
print("---------------------------------------------------")
n = [1,2,3]
print("Memory reference of deepcopy:", id(m))
print("Memory reference of deepcopy:", id(n))
print(m == n)
print(m is n)

True
True
Memory reference of deepcopy: 1872620334208
Memory reference of deepcopy: 1872620334208
---------------------------------------------------
Memory reference of deepcopy: 1872620334208
Memory reference of deepcopy: 1872619397248
True
False

precesion table pemdas
X + Y * Z will give issues and code rejected in testing
(X + Y) * Z <-------------precision is important

below is called operator overloading

In [51]:
'chai' + 'code'

'chaicode'

In [52]:
x=5
y=6
z=7

In [56]:
print(x,y,z) #tuple
print(x + 1, y*2)

5 6 7
6 12

Here, str(num) returns '42', which is a straightforward string representation of the integer 42.

In [62]:
result = 1/3.0
str(result)

'0.3333333333333333'

Here, repr(num) returns '42', which is the string representation of the integer 42.

In [61]:
repr(result)

'0.3333333333333333'

In [63]:
1 == 2 and 2 < 3

False

In [64]:
1 == 2 or 2 < 3

True

fllor gives lowest value

In [67]:
import math
math.floor(3.9)

3

In [68]:
math.floor(-3.5)

-4

trunc will take towards zero

In [69]:
math.trunc(2.8)

2

In [70]:
math.trunc(-2.8)

-2

we can handle below situation in python num * float will give very long but still we can show in full

In [71]:
9999999999999999999999999999 * 2.1

2.1e+28

In [72]:
2 ** 200

1606938044258990275541962092341162602522202993782792835301376

complex numbers like below

In [75]:
2 + 1j * 3
(2 + 1j) * 3

(6+3j)

octal literal base to the 8

In [76]:
0o20

16

xeral literal

In [77]:
0xff

255

binary literals

In [78]:
0b1000

8

In [79]:
oct(64)

'0o100'

In [80]:
hex(64)

'0x40'

In [81]:
bin(64)

'0b1000000'

In [82]:
int(64)

64

In [84]:
int('64' ,8)

52

Bitwise left shift operations are commonly used in scenarios where you need to multiply or divide numbers by powers of two efficiently, especially in low-level programming or optimization tasks.
x = 1: This assigns the integer value 1 to the variable x.
Bitwise Left Shift (<<):

x << 2: This expression shifts the bits of x two positions to the left.
In binary representation, 1 is 0001. Shifting 0001 two positions to the left results in 0100.
Therefore, the result of x << 2 is 4 in decimal.

In [88]:
x=1
x << 2

8

random

In [90]:
import random
random.random()

0.44785767935920673

random integer

In [96]:
random.randint(1, 10)

6

In [113]:
l1 = ['lemon','masala','ginger','tandoori']
random.choice(l1)

'ginger'

shuffle

In [125]:
random.shuffle(l1)
l1

['lemon', 'ginger', 'masala', 'tandoori']

add decimal values, last 2 are not output we are expecting

In [133]:
print(0.1+0.1+0.1)
print(0.1+0.1+0.1-0.3)
(0.1 + 0.1 + 0.1) - 0.3

0.30000000000000004
5.551115123125783e-17

5.551115123125783e-17

below are correct

In [135]:
from decimal import Decimal
Decimal('0.1')+Decimal('0.1')+Decimal('0.1')

Decimal('0.3')

In [137]:
Decimal('0.1')+Decimal('0.1')+Decimal('0.1')-Decimal('0.3')

Decimal('0.0')

In [138]:
from fractions import Fraction

In [140]:
myfra = Fraction(2, 7)
myfra

Fraction(2, 7)

In [142]:
setone = {1,2,3,4}
setone & {1,3}

{1, 3}

In [145]:
setone | {1,3,9}

{1, 2, 3, 4, 9}

In [144]:
setone - {1,2,3,4}

set()

empty parathesis is dictionary so we get set in above

In [146]:
type({})

dict

In [148]:
True == 1

True

In [149]:
True is 1

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\ragha\AppData\Local\Temp\ipykernel_23028\812578685.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  True is 1

False

In [150]:
False == 0

True

In [151]:
True + 4

5

string

In [152]:
chai = "Masala Chai"

In [154]:
first_char = chai[0]
first_char

'M'

to print only masala

In [156]:
slice_chai = chai[0:6]
slice_chai

'Masala'

In [176]:
slice_chai = chai[-4:]
print(slice_chai)

Chai

In [177]:
num_list = "0123456789"

In [186]:
print(num_list[:])
print(num_list[3:])
print(num_list[:7])
print(num_list[0:7:2]) #hopping
print(num_list[0::3])

0123456789
3456789
0123456
0246
0369

In [188]:
print(chai.upper())
print(chai.lower())

MASALA CHAI
masala chai

In [191]:
chai = "  Masala Chai  "
print(chai)
print(chai.strip()) #useful when we get input values from form

  Masala Chai
Masala Chai

In [194]:
chai = "Lemon Chai"
print(chai.replace("Lemon","Ginger"))
print(chai.replace("lemon","Ginger")) #not working

Ginger Chai
Lemon Chai

In [197]:
chai = "Lemon, Ginger, Masala, Mint"
print(chai.split()) #takes spaces
print(chai.split(", "))

['Lemon,', 'Ginger,', 'Masala,', 'Mint']
['Lemon', 'Ginger', 'Masala', 'Mint']

find

In [206]:
chai = "Masala Chai"
print(chai.find("Chai"))
print(chai.find("chai")) #case sensitive  if i do not find i will return -1
print(chai.find("")) # if nothing gives 0
print(chai.find(" ")) # as 6 is space

7
-1
0
6

In [212]:
chai= "Masala Chai chai Chai Chai Ginger Chai lemoN chai"
print(chai.count(chai))
print(chai.count("chai"))
print(chai.count("Chai"))

1
2
4

In [214]:
chai_type = "Masala"
quantity = 2
order = "I ordered {} cups of {} chai"
print(order)
print(order.format(quantity, chai_type))

I ordered {} cups of {} chai
I ordered 2 cups of Masala chai

In [218]:
chai_variety =["Lemon","Masala","Ginger"]
print(chai_variety)
print("".join(chai_variety))
print(" ".join(chai_variety))
print(", -".join(chai_variety))

['Lemon', 'Masala', 'Ginger']
LemonMasalaGinger
Lemon Masala Ginger
Lemon, -Masala, -Ginger

In [219]:
chai = "Masala Chai"
print(len(chai))

11

In [220]:
for letter in chai:
    print(letter)

M
a
s
a
l
a

C
h
a
i

In [226]:
chai = 'He said, "Masala chai is awesome" '
print(chai)
chai = "He said, \"Masala chai is awesome\" " #keeping backslash will not convert to string
print(chai)

He said, "Masala chai is awesome"
He said, "Masala chai is awesome"

r string (raw string)

In [229]:
chai = "Masala\nChai"
print(chai)
chai_raw=r"Masala\nChai"
print(chai_raw)

Masala
Chai
Masala\nChai

to find masala in chai string

In [230]:
print("Masala" in chai)

True

LIST

In [255]:
tea_varities = ["Black","green","oolong","white"]
print(tea_varities)
print(tea_varities[0])
print(tea_varities[1:3])
tea_varities[3]="Herbal"
print(tea_varities)
tea_varities[1:2]="Lemon" #it is treating string as array
print(tea_varities)
tea_varities = ["Black","green","oolong","white"]
tea_varities[1:2]=["Lemon"] #we should give as array
print(tea_varities)
tea_varities[1:3]=["Masala","Tanddori"] #we should give as array
print(tea_varities)
print(tea_varities[1:1])
tea_varities[1:1] = ["test1","test2"]
print(tea_varities)

['Black', 'green', 'oolong', 'white']
Black
['green', 'oolong']
['Black', 'green', 'oolong', 'Herbal']
['Black', 'L', 'e', 'm', 'o', 'n', 'oolong', 'Herbal']
['Black', 'Lemon', 'oolong', 'white']
['Black', 'Masala', 'Tanddori', 'white']
[]
['Black', 'test1', 'test2', 'Masala', 'Tanddori', 'white']

In [259]:
print(tea_varities)
print(tea_varities[1:3])
tea_varities[1:3]=[]
print(tea_varities)

['Black', 'white']
['white']
['Black']

In [264]:
tea_varitiy=["Black", "Masala", "Tanddori", "white"]
print(tea_varitiy)
for tea in tea_varitiy:
    print(tea)

['Black', 'Masala', 'Tanddori', 'white']
Black
Masala
Tanddori
white

In [265]:
for tea in tea_varitiy:
    print(tea, end="-")

Black-Masala-Tanddori-white-

In [266]:
if "Masala" in tea_varitiy:
    print("I have Masala tea")

I have Masala tea

In [268]:
if "Oolang" in tea_varitiy:
    print("I have Oolang tea")

In [270]:
tea_varitiy.append("Oolang")
if "Oolang" in tea_varitiy:
    print("I have Oolang tea")

I have Oolang tea

In [279]:
tea_varitiy=['Black', 'Masala', 'Tanddori', 'white']
tea_varitiy.pop()
print(tea_varitiy)

['Black', 'Masala', 'Tanddori']

In [289]:
tea_varitiy=['Black', 'Masala', 'Tanddori', 'white']
tea_varitiy.remove("Masala")
print(tea_varitiy)

['Black', 'Tanddori', 'white']

In [290]:
tea_varitiy.insert(1,"Masala")
print(tea_varitiy)

['Black', 'Masala', 'Tanddori', 'white']

In [292]:
tea_varitiy_copy=tea_varitiy
print(id(tea_varitiy))
print(id(tea_varitiy_copy))

1872620049792
1872620049792

In [293]:
tea_varitiy_copy2=tea_varitiy.copy()
print(id(tea_varitiy))
print(id(tea_varitiy_copy2))

1872620049792
1872621501056

In [295]:
squared_nums = [x**2 for x in range(10)]
print(squared_nums)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Dictionary

In [310]:
chai_types = {"Masala Chai":"Spicy","Ginger Chai":"Zesty","Green Chai":"Mild"}
print(chai_types)
print(chai_types["Masala Chai"])
# print(chai_types["Masala hai"]) shows erroe if key is wrong
print(chai_types.get("Ginger Chai"))
print(chai_types.get("Ginger Chaia")) #shows none if key is wrong
chai_types["Green"] = "Fresh" # creates new
print(chai_types)
chai_types["Green"] = "Fresh Two" #replaces if key already exists
print(chai_types)

{'Masala Chai': 'Spicy', 'Ginger Chai': 'Zesty', 'Green Chai': 'Mild'}
Spicy
Zesty
None
{'Masala Chai': 'Spicy', 'Ginger Chai': 'Zesty', 'Green Chai': 'Mild', 'Green': 'Fresh'}
{'Masala Chai': 'Spicy', 'Ginger Chai': 'Zesty', 'Green Chai': 'Mild', 'Green': 'Fresh Two'}

In [311]:
for chai in chai_types:
    print(chai)

Masala Chai
Ginger Chai
Green Chai
Green

tp rint along with values

In [314]:
for chai in chai_types:
    print(chai,  chai_types[chai])

Masala Chai Spicy
Ginger Chai Zesty
Green Chai Mild
Green Fresh Two

both key and value are one item in dictionary

In [322]:
for key, value in chai_types.items():
    print(key, value)
    print(key)
    print(value)

Masala Chai Spicy
Masala Chai
Spicy
Ginger Chai Zesty
Ginger Chai
Zesty
Green Chai Mild
Green Chai
Mild
Green Fresh Two
Green
Fresh Two

In [327]:
if "Masala Chai" in chai_types:
    print("masala is there")

masala is there

In [329]:
if "Masala" in chai_types:
    print("masala")

In [340]:
chai_types = {"Masala Chai":"Spicy","Ginger Chai":"Zesty","Green Chai":"Mild"}
print(chai_types)
print("-----add yellow---------")
chai_types["yellow"] = "color"
print(chai_types)
print("-----pop yellow---------")
chai_types.pop("yellow") #we have to give atleast one key argument in dictinary to remove an item
print(chai_types)
print("-----popitem---------")
chai_types.popitem() #remove last item
print(chai_types)

{'Masala Chai': 'Spicy', 'Ginger Chai': 'Zesty', 'Green Chai': 'Mild'}
-----add yellow---------
{'Masala Chai': 'Spicy', 'Ginger Chai': 'Zesty', 'Green Chai': 'Mild', 'yellow': 'color'}
-----pop yellow---------
{'Masala Chai': 'Spicy', 'Ginger Chai': 'Zesty', 'Green Chai': 'Mild'}
-----popitem---------
{'Masala Chai': 'Spicy', 'Ginger Chai': 'Zesty'}

Delete can be used anywhere but it also removes from memory

In [342]:
del chai_types["Ginger Chai"]
print(chai_types)

{'Masala Chai': 'Spicy'}

dictionary in dictionary

In [348]:
tea_shop = {
    "chai": {"Masala":"Spicy","Ginger":"Zesty"},
    "Tea" : {"Green": "Mild","Black":"Strong"}
        }
print(tea_shop)
tea_shop["chai"]
tea_shop["chai"]["Ginger"]

{'chai': {'Masala': 'Spicy', 'Ginger': 'Zesty'}, 'Tea': {'Green': 'Mild', 'Black': 'Strong'}}

'Zesty'

In [349]:
square_nums={x:x**2 for x in range(6)}
print(square_nums)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [354]:
keys=["Masala","Ginger","Lemon"]
print(keys)
default_value = "Delicious"
new_dict = dict.fromkeys(keys, default_value)

new_dict2 = dict.fromkeys(keys, keys)
print(new_dict2)

['Masala', 'Ginger', 'Lemon']
{'Masala': ['Masala', 'Ginger', 'Lemon'], 'Ginger': ['Masala', 'Ginger', 'Lemon'], 'Lemon': ['Masala', 'Ginger', 'Lemon']}

In [357]:
#tuples
tea_types = ("Black","Green","Yellow" )
print(tea_types[-1])
print(tea_types[1:])
tea_types[0]

Yellow
('Green', 'Yellow')

'Black'

In [358]:
tea_types[0] = "white"
print(tea_types)

TypeError: 'tuple' object does not support item assignment

In [359]:
len(tea_types)

3

In [363]:
more_tea= ("Herbal","Earl grey","Green")

In [364]:
all_tea = tea_types + more_tea
print(all_tea)

('Black', 'Green', 'Yellow', 'Herbal', 'Earl grey', 'Green')

In [365]:
if "Green" in all_tea:
    print("yes its there greem tea")

yes its there greem tea

In [367]:
all_tea.count("Green")

2

In [368]:
print(tea_types)

('Black', 'Green', 'Yellow')

unwrap tuples 
Variable Naming:

In Python, variable names are case-sensitive. So black, green, and Oolong are different from Black, Green, and Yellow.
Tuple Unpacking:

When unpacking a tuple into variables, the number of variables on the left-hand side of the assignment must match the number of elements in the tuple on the right-hand side.

In [369]:
(black,green,Oolong) = tea_types

In [373]:
print(black)
print(tea_types[1])
type(tea_types)

Black
Green

tuple

nesting tupes

In [374]:
person = ('John', ('USA', 'New York'), 30)

In [385]:
days = ["Monday","Wednesday"]
day = random.choice(days)
print(day)

Wednesday

In [ ]:
iteration tool = (for, comprehension)

In [393]:
f = open('../04_iterations/chai.py')
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())

import time

print("Chai is here")

username = "hitesh"

print(username)

In [394]:
f = open('../04_iterations/chai.py')
print(f.__next__())
print(f.__next__())
print(f.__next__())
print(f.__next__())

import time

print("Chai is here")

username = "hitesh"

print(username)

In [ ]:
f = open('../04_iterations/chai.py')
print(f.__next__())
print(f.__next__())
print(f.__next__())
print(f.__next__())

In [396]:
for line in open('../04_iterations/chai.py'):
    print(line, end="")

import time
print("Chai is here")
username = "hitesh"
print(username)

In [397]:
f = open('../04_iterations/chai.py')
while True:
    line = f.readline()
    if not line: break
    print(line, end="")

import time
print("Chai is here")
username = "hitesh"
print(username)

In [ ]:
test=""
if not test:
    print("not there")